.Home {
  width: 100%;
  min-height: 100vh;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  justify-content: start;
}
.Home-container {
  width: 100%;

  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.country-container {
  width: 80%;
  height: 100%;
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.display-country {
  width: 90%;

  margin: 0 auto;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
}
.btn-page {
  cursor: pointer;
  border: none;
  border-radius: 2px;
}
.btn-page:hover {
  background-color: rgb(251, 247, 19);
}

@media only screen and (max-width: 868px) {
  .Home-container {
    overflow-y: scroll;
  }
  
}
